.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.rouge {color:red;}
.material-icons.vert {color:lightgreen;}
#person,#restaurant,#local_dining
{
	justify-content:flex-end;
}



body
{
	font-family: 'Open Sans'
}
.row
{
	padding-left: 0px;
	padding-right: 0px;
}
header p
{
	font-size :1.5em;
}
header
{
	background: center / cover no-repeat url(img/1.png);
	height: 100%;
}
#musclelogo
{
	text-decoration: underline lightgreen;
	font-weight: bold;
}
#slashgreen
{
	color:lightgreen;
}
#slashpink
{
	color:lightpink;
}
#fitcan
{
	bottom: 15%;
	left:10% ;
}
#fitcan h3
{
	left: 25% ;
}
#allbloc
{
	background: rgb(162,202,41);
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 3%;
	margin: :0;
}
#greenpara
{
	font-size: 0.7em;
	padding-bottom: 5%
	
}
#greenpara h1
{
	font-size: 1.5em;
}
#greenpara a
{
	color: white;
}
#fitimg
{
	background:center / cover no-repeat url(img/3.png);
	width:100%;
	height: 22em;
}
#fitimg a
{
	bottom: 2%;
	right:3%
}
#fit1
{
	box-shadow: 0 15px 10px black;
}
#bodimg
{
	background: center / cover no-repeat url(img/2.png);
	width: 100%;
	height: 22em;
	
}
#bod
{
	box-shadow: 0 15px 10px black;
}
#bodimg a
{
	bottom: 0;
	margin:2%;
}
#allbloc2
{
	background: rgb(254,99,79);
	padding-right: 10%;
	padding-left: 10%;
	margin:0;
	font-size: 0.9em;
}
#runimg
{
	background: center / cover no-repeat url(img/8.png);
	width:100%;
	height: 22em;
}
#surfimg
{
	background: center / cover no-repeat url(img/5.png);
	width:100%;
	height: 22em;
}
#surf
{
	background: rgb(162,202,41);
	width:100%;
	height: 22em;
	box-shadow: 0 15px 10px black;
}
#run
{
	width:100%;
	height: 22em;
}
#raisinimg
{
	background: center / cover no-repeat url(img/7.png);
	width:100%;
	height: 22em;
}
#mangueimg
{
	background: center / cover no-repeat url(img/6.png);
	width:100%;
	height: 22em;
}
#mangue
{
	background: rgb(162,202,41);
	width:100%;
	height: 22em;
	box-shadow: 0 15px 10px black;
}
#raisin
{
	width: 100%;
	height: 22em;
}
#endbg
{
	background: center / cover no-repeat url(img/4.png);
	width:100%;
	height:50em;
	padding :10% 25% 40% 25%;
}
footer
{
	background: rgb(13,17,26);
	font-size: 0.8em;
}
h1
{
	font-size: 1.5em;
}
h2
{
	font-size: 1.2em;
}

#reseaux img
{
    text-align: center ;
    margin-right: 8px;
}
#foot
{
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 2%;
}
#about
{
	width: 45%;
	text-align: justify;
	margin:2%;
}
#reseaux
{
	width: 30%;
	text-align: justify;
	margin:2%;
}
#resfoot
{
	width: 30%;
	text-align: justify;
	margin:2%;	
}
